@import 'sharedStyles';

.logoContainer {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 80px;
}

.logoImage {
  width: 44px;
  height: 44px;
}

.logoTitle {
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: $mainText;
}
@media screen and (min-width: $breakpoint-mobile) {
}
@media screen and (min-width: $breakpoint-tablet) {
  .logoContainer {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
}
