@import '../../styles/sharedStyles.scss';
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 6px;
}

.page {
  width: 12px;
  height: 12px;
  background-color: #e7f1ed;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  width: 12px;
  height: 12px;
  background-color: $styleColor;
  border-radius: 50%;
  transform: scale(1.1);
}
@media screen and (min-width: $breakpoint-mobile) {
}
@media screen and (min-width: 768px) {
  .pagination {
    gap: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .pagination {
    gap: 12px;
  }
}
