@import '../../../../../styles/sharedStyles.scss';

.sectionModal {
  position: relative;
  border-radius: 12px;
  max-width: 335px;
  max-height: 542px;
  background: $textButton;
  padding: 20px;
}
.title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 117%;
  color: $mainText;
  margin-bottom: 40px;
}
.sectionInput {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.sectionButton {
  display: flex;
  gap: 10px;
}
.spriteClose {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: $textButton;
}

@media screen and (min-width: $breakpoint-mobile) {
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .sectionModal {
    max-width: 536px;
  }
  .sectionInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1440px) {
}
