@import '../../../../styles/sharedStyles.scss';

.completed {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  background: $bgComplete;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $complete;
}
.confirmed {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  background: $bgConfirm;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $confirm;
}
.pending {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  background: $bgPending;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $pending;
}
.cancelled {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  background: $bgCancel;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $cancel;
}
.processing {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $process;
  background: $bgProcess;
}
.shipped {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $shipped;
  background: $bgShipped;
}
.delivered {
  border-radius: 40px;
  padding: 4px 12px;
  width: 92px;
  height: 25px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  text-align: center;
  color: $delivered;
  background: $bgDelivered;
}
