@import 'sharedStyles';

.sectionDashboard {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.sectionTable {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: $breakpoint-mobile) {
}
@media screen and (min-width: $breakpoint-tablet) {
}
@media screen and (min-width: $breakpoint-desktop) {
  .sectionTable {
    display: grid;
    // grid-template-columns: 55% 45%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
