@import '../../../../styles/sharedStyles.scss';

.sectionTable {
  border: 1px solid $borderTable;
  border-radius: 8px;
}
.table {
  background: $textButton;
  border-radius: 0 0 8px 8px;
  border-collapse: collapse;
  width: 100%;
}
.table th,
.table td {
  border: 1px solid $borderTable;
  padding: 16px;
}
.table th:first-child,
.table td:first-child {
  border-left: none;
}
.table th:last-child,
.table td:last-child {
  border-right: none;
}
.table td {
  border-bottom: none;
}
.table th {
  border-top: none;
}

.titleTable {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: $mainText;
  border-radius: 8px 8px 0 0;
  background: $tabColor;
  padding: 14px;
  display: block;
  box-sizing: border-box;
}
.theadTable th {
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $inputText;
  text-align: left;
}
.dataTable td {
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $mainText;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.action {
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .titleTable {
    font-size: 18px;
    padding: 20px;
  }
  .theadTable th {
    font-size: 14px;
    padding: 20px;
  }
  .dataTable td {
    font-size: 16px;
  }
  .table td {
    padding: 15px 60px 15px 20px;
  }
}
@media screen and (min-width: 1440px) {
}
