@import 'sharedStyles';

.sectionExpenses {
  border: 1px solid $borderTable;
  border-radius: 8px;
}
.titleExpenses {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: $mainText;
  border-radius: 8px 8px 0 0;
  background: $tabColor;
  padding: 15px 10px;
  width: 100%;
}

.table {
  background: $textButton;
  border-radius: 8px;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table th,
.table td {
  border: 1px solid $borderTable;
  padding: 15px 10px;
}
.table th {
  border-right: none;
  border-left: none;
}
.table td {
  border-right: none;
  border-left: none;
  border-bottom: none;
}
.table th:last-child,
.table td:last-child {
  border-right: none;
}

.theadExpenses th {
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $inputText;
  text-align: left;
}
.dataExpenses td {
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $mainText;
}
.greenRow {
  color: #59b17a;
  border-radius: 40px;
  padding: 4px;
  width: 80px;
  height: 25px;
  background-color: rgba(89, 177, 122, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2px;
}
.redRow {
  color: #e85050;
  border-radius: 40px;
  padding: 4px;
  width: 80px;
  height: 25px;
  background-color: rgba(232, 80, 80, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2px;
}
.blackRow {
  color: #1d1e21;
  border-radius: 40px;
  padding: 4px;
  width: 80px;
  height: 25px;
  background-color: rgba(29, 30, 33, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2px;
}
.positiveAmount {
  color: #59b17a;
}

.negativeAmount {
  color: #e85050;
}

.errorAmount {
  color: #1d1e21;
  text-decoration: line-through;
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .titleExpenses {
    font-size: 18px;
  }
  .theadExpenses th {
    font-size: 16px;
  }
  .dataExpenses td {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .titleExpenses {
    font-size: 16px;
  }
  .theadExpenses th {
    font-size: 14px;
  }
  .dataExpenses td {
    font-size: 14px;
  }
  .table {
    height: 516px;
  }
}
