$cancel: '#e85050';
$bgCancel: rgba(232, 80, 80, 0.1);
$process: '#70a6e8';
$bgProcess: rgba(112, 166, 232, 0.1);
$pending: '#f79042';
$bgPending: rgba(247, 144, 66, 0.1);
$confirm: '#8059e4';
$bgConfirm: rgba(128, 89, 228, 0.1);
$complete: '#59b17a';
$bgComplete: rgba(89, 177, 122, 0.1);

$cancelButton: rgba(29, 30, 33, 0.1);
$borderButton: rgba(89, 177, 122, 0.5);
$borderTable: rgba(29, 30, 33, 0.1);
$shipped: #295fa2;
$bgShipped: rgba(49, 112, 190, 0.1);
$delivered: #70c02b;
$bgDelivered: rgba(135, 202, 72, 0.1);

$font-family: 'Inter', sans-serif;

$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
