@import 'sharedStyles';

.sectionOrders {
  padding-top: 20px;
}

@media screen and (min-width: $breakpoint-tablet) {
  .sectionOrders {
    padding-top: 30px;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .sectionOrders {
    padding-top: 40px;
  }
}
