@import '../../../../styles/sharedStyles.scss';
.sectionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  background-color: $styleColor;
  box-shadow: 0 -1px 7px 0 rgba(71, 71, 71, 0.05);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.sectionBtn:hover {
  transform: scale(1.1);
}
