@import 'sharedStyles';

.editAction {
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editButton:hover {
  transform: scale(1.1);
}
.deleteAction {
  border: 1px solid rgba(232, 80, 80, 0.5);
  border-radius: 30px;
  padding: 8px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  background-color: $textButton;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleteButton:hover {
  transform: scale(1.1);
}
