$cancel: '#e85050';
$bgCancel: rgba(232, 80, 80, 0.1);
$proces: '#70a6e8';
$bgProces: rgba(112, 166, 232, 0.1);
$pending: '#f79042';
$bgPending: rgba(247, 144, 66, 0.1);
$confim: '#8059e4';
$bgConfim: rgba(128, 89, 228, 0.1);
$complete: '#59b17a';
$bgComplete: rgba(89, 177, 122, 0.1);

$cancelButton: rgba(29, 30, 33, 0.1);
