@import '../../../../styles/sharedStyles.scss';

.sectionStat {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.sectorStat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 8px;
  padding: 14px 18px;
  width: 158px;
  height: 98px;
  background-color: $textButton;
}
.sectorStat:hover {
  border-color: $styleColor;
}
.sectorStat.active {
  border-color: $styleColor;
}
.sectorTitle {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sectorSVG {
  width: 20px;
  height: 20px;
}
.title {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(29, 30, 33, 0.4);
}
.sectorItem {
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: $mainText;
}

@media screen and (min-width: 375px) {
  .sectionStat {
  }
}

@media screen and (min-width: 768px) {
  .sectionStat {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .sectorStat {
    flex: 1;
  }
}
@media screen and (min-width: 1440px) {
  .sectorStat {
    height: 108px;
  }
}
