@import 'sharedStyles';

.input {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 224px;
  height: 44px;
  box-shadow: 0 -1px 5px 0 rgba(71, 71, 71, 0.05);
  background: $textButton;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $mainText;
  padding: 20px;
}
