@import '../../../styles/sharedStyles.scss';
.navbar {
  padding: 16px;
  background-color: $background;
  height: 100vh;
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  // border-top: 1px solid rgba(29, 30, 33, 0.1);
}

.navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.iconContainer {
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $textButton;
  box-shadow: 0 -1px 7px 0 rgba(71, 71, 71, 0.05);
  transition: background-color 0.3s;
  svg {
    fill: $styleColor;
  }
}

.iconContainer:hover,
.iconContainer:focus {
  background-color: #ccc;
  svg {
    fill: rgb(9, 71, 91);
    transform: scale(1.1);
  }
}
