@import '../../../../styles/sharedStyles.scss';

.deleteButton {
  border: 1px solid rgba(232, 80, 80, 0.5);
  border-radius: 30px;
  padding: 8px;
  width: 32px;
  height: 32px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  background-color: $textButton;
}
.deleteButton:hover {
  transform: scale(1.1);
}
