@import 'sharedStyles';
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  padding: 6px 15px;
  max-width: 82px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  color: #59b17a;
  background-color: $textButton;
}
