@import '../../../../../styles/sharedStyles.scss';

.sectionModal {
  position: relative;
  border-radius: 12px;
  width: 536px;
  height: 412px;
  background: #fff;
  padding: 40px;
}
.title {
  font-family: $font-family;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  color: #1d1e21;
  margin-bottom: 40px;
}
.sectionInput {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}
.sectionButton {
  display: flex;
  gap: 10px;
}
.spriteClose {
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: #fff;
}
