@import 'sharedStyles';

.sectionHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  background-color: $background;
  padding-bottom: 20px;
}
.sectionTitle {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: $breakpoint-mobile) {
}

@media screen and (min-width: $breakpoint-tablet) {
}
@media screen and (min-width: $breakpoint-desktop) {
  .sectionHeader {
    justify-content: space-between;
  }
}
