@import '../../../../styles/sharedStyles.scss';

.sectionCustomers {
  border: 1px solid $borderTable;
  border-radius: 8px;
  max-width: 630px;
  max-height: 512px;
}
.table {
  background: $textButton;
  border-radius: 8px;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid $borderTable;
  padding: 20px;
}
.table th:first-child,
.table td:first-child {
  border-left: none;
}
.table th:last-child,
.table td:last-child {
  border-right: none;
}
.table td {
  border-bottom: none;
}
.table th {
  border-top: none;
}

.titleCustomers {
  font-family: $font-family;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: $mainText;
  border-radius: 8px 8px 0 0;
  background: $tabColor;
  padding: 20px;
}
.theadCustomers th {
  font-family: $font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: $inputText;
  text-align: left;
}
.dataCustomers td {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  color: $mainText;
}
.button {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  color: $styleColor;
  border: 1px solid $borderButton;
  border-radius: 30px;
  padding: 8px 18px;
  width: 74px;
  height: 34px;
  background: $textButton;
}
.button:hover {
  color: rgb(5, 150, 152);
  transform: scale(1.1);
  border: 2px solid rgb(5, 150, 152);
}
