@font-face {
  font-family: 'Inter';
  src: url('font/static/inter-SemiBoid.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-variation-settings: 'slnt' 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}
