@import 'sharedStyles';

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}
.loginLabel {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  line-height: 150%;
  color: $inputText;
}
.loginInput {
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  padding: 13px 166px 13px 20px;
  max-width: 326px;
}
.loginButton {
  border-radius: 60px;
  padding: 13px 140px;
  background: $styleColor;
  font-family: $font-family;
  font-weight: $font-weight-medium;
  font-size: $font-size-sm;
  line-height: 129%;
  color: $textButton;
  margin-top: 20px;
  max-width: 326px;
}
@media screen and (min-width: $breakpoint-mobile) {
}
@media screen and (min-width: $breakpoint-tablet) {
}
@media screen and (min-width: $breakpoint-desktop) {
  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
}
